* {
	box-sizing: border-box;
}


.login-page .signup-page {
	background-color: white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	padding: 30px 40px;
}

fieldset {
	background-color: white;
	border: none;
	padding: 0;
}

legend {
	font-size: 30px;
	color: darkgray;
}

#signup-page input, #login-page input {
	display: block;
	height: 55px;
	width: 450px;
	font-size: 16px;
}

input {
	border: 2px  solid lightgray;
}

input::placeholder {
	color: gray;
}

button {
	color: white;
	background-color: lightgreen;
}

.sign-up button {
	color: blue;
}

.login-page label {
	color: black;
	font-size: 17px;
	text-align: left;
	width: 100%;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.login-page a {
	color: gray;
	display: block;
	font-size: 14px;
	text-decoration: underline;
}

.login-page a:hover {
	color: black;
}

.hide {
	display: none;
}

option {
	font-size: inherit;
	color: blue;
}
