#login-page {
	margin: 6em 2em;
	padding: 0;
}

.login-page {
	background-color: white;
	width: 100%;
	height: auto;
	padding: 1em;
	border: solid gray;
	margin: auto;
}

fieldset {
	background-color: white;
	border: none;
	padding: 0;
	margin: 0;
}

legend {
	font-size: 1em;
	color: black;
	padding-bottom: 0.5em;
	text-align: center;
}

#signup-page {
	margin: 5em 1em;
	padding: 0.5em;
	border: solid 0.15em darkgray;
}

#signup-page input, #login-page input {
	display: block;
	height: 3em;
	width: 100%;
	font-size: 1em;
	margin-bottom: 0.5em;
	padding-left: 0.15em;
}

input {
	border: .125em  solid lightgray;
}

input::placeholder {
	color: darkgray;
	padding-left: .25em;
}

#signup-buttons {
	width: 100%;
	height: 3em;
	padding: .15em 1em;
	display: inline-flex;
	margin-bottom: 0.35em;
}

#signup-buttons button {
	height: 100%;
	width: 100%;
	font-size: 1em;
	margin: 0 0.75em;
	padding: 0.25em 0;
	border: solid .15em darkgray;
}

#login {
	color: white;
	background-color: black;	
	text-align: center;
	width: 100%;
	height: 3em;
	font-size: 1em;
	transition-duration: 0.4s;
}

#login:hover {
	color: black;
	background-color: darkgray;
}

.sign-up button {
	color: blue;
}

.login-page label {
	color: black;
	font-size: 17px;
	text-align: left;
	width: 100%;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

#whine-form form, #edit-whine-form form {
	padding: 1em;
	border: solid 0.05em darkgray;
}

#whine-form input, #edit-whine-form input {
	margin: 0 0.5em 0 1em;
}

#whine-form textarea, #edit-whine-form textarea {
	border:	solid 0.125em lightgray;
	width: 100%;
	height: auto;
	margin-top: 0.5em;
}

.whineChoices {
	margin-bottom: 0.5em;
	text-align: center;
	color: darkgray;
}

.hide {
	display: none;
}

option {
	font-size: inherit;
	color: blue;
}

#whine-form button, #edit-whine-form button, #div-edit button {
	width: 30%;
	height: 2.5em;
	margin: 0 0.5em;
	border: solid 0.125em;
	color: white;
	background: black;
}

#write-whine-buttons, #edit-whine-buttons {
	text-align: center;
	margin: 0.75em 0.5em 0;
}

