* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 2.5em;
}

#no-account {
	text-align: center;
	font-size: 0.5em;
	color: gray;
}

#no-account a:hover {
	color: red;
}

.topNav {
	background-color: darkgray;
	overflow: hidden;
	height: 1.5em;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: .25em .75em;
  text-decoration: none;
  font-size: 1em;
}

.topNav a:hover {
	background-color: black;
	color: white;
}



li {
	list-style: none;
}

#map {
	height: 45vh;
	margin: 2em 6em;
}

#restaurants {
	margin: 1em 6em;
}

ul#results-list {
	padding: 0 1em;
	margin: 0;
	overflow-y: scroll;
	flex-direction: column;
	display: flex;
}

#results-list li {
	flex-direction: row;
	align-items: center;
	flex-shrink: 0;
	display: flex;
	padding: 0;
	font-size: 1.5em;
	border-bottom: solid lightgray;
}

#results-list li:hover {
	color: blue;
	cursor: pointer;
	font-size: 175%;
}

#restaurant-details {
	margin: .5em 1.5em;
}

#restaurant-details .name span {
	font-size: 1.25em;
}

#restaurant-details span {
	font-size: 1em;
}

#write-whine {
	color: white;
	background-color: black;	
	text-align: center;
	width: auto;
	height: auto;
	font-size: 1em;
	margin: 0 1.5em;
	padding: 0 1.5em;
	border: groove 0.05em;
}

#whine-reviews {
	margin: 1em 2em;
}

#restaurant-whines {
	padding: 0;
	margin: 0;
}

.restaurant-whine {
	border: solid .125em lightgray;
	padding: .75em;
	margin-bottom: .25em
}

#restaurant-whines .author-create span {
	padding: 0;
}

.restaurant-whine span {
	font-size: 1em;
	padding: 0 1em;
}

.restaurant-whine button {
	font-size: .6em;
	text-align: center;
	padding-top: 0.125em 1em;
	height: 2em;
	width: auto;
	color: black;
	background-color: lightgray;
}

#restaurant-whines .edit button {
	color: red;
	background-color: lightgray;
	height: auto;
	width: auto;
	margin: 0 1.5em; 
}

.delete button, .save button, .cancel button {
	display: inline-flex;
}