#map {
	width: 400px;
	height: 400px;
}

li {
	list-style: none;
}

ul#results-list {
	padding: 0;
}

#results-list li {
	text-align: center;
	border-style: ridge;
}

#results-list li:hover {
	color: blue;
	cursor: pointer;
}

li#restaurant-whines, li#whines {
	background-color: lightgray;
	border-bottom-style: inset;
}

ul#whines, ul#restaurant-whines {
	padding-left: 0;
}