@media only screen and (min-width: 400px) {
	#login-page, #signup-page {
		width: 80%;
	}

	.login-page form {
		width: 100%;
	}

	#search-result {
		display: inline-flex;
		width: 100%;
		height: 45vh;
	}

	#map {
		width: 60vw;
	}

	#restaurants {
		overflow: scroll;
		width: 40vw;
		margin: 0.5em; 
	}
}

@media only screen and (min-width: 750px) {
	#header {
		margin-top: 3em;
	}

	#login-page, #signup-page {
		width: 40%;
	}

	#login-page {
		margin: 6em auto;
	}
}

@media only screen and (min-width: 1020px) {
	#header {
		margin-top: 5em;
	}

	#login-page, #signup-page {
		width: 35%;
	}

}